body {
  background-color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #545151;
  color: #fff;
  text-align: right;
}

nav {
  background-color: #545151;
  color: #fff;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 0 10px;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #20c997;
}

h1 {
  padding-top: 16px;
  text-align: left;
  background-color: #545151;
  margin: 0;
}

#sobre{
  padding: 90px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Duas colunas */
  gap: 20px; /* Espaçamento entre as colunas */
  justify-content: center; /* Centraliza as colunas */
}

.card {
  max-width: 500px;
  overflow: hidden;
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
  text-align: center; /* Centraliza o conteúdo dentro da .card */
}

.back-content {
  padding: 20px;
}

.h3{
  margin-top: 80px;
}

#foto img {
  margin-top: 80px;
  width: 300px;
  height: 300px;
  border-radius: 50%; /* Adiciona bordas arredondadas à imagem */
}

#projetos img {
  width: 200px;
  height: 200px;
  margin-right: 10px; /* Adiciona um espaço entre as imagens */
}

strong {
  display: block; /* Garante que a largura da strong seja 100% */
  text-align: center; /* Centraliza o texto */
}

.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
}

#div-tec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


footer {
  background-color: #545151;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.projetos-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 50vh;
  font-family: 'Share Tech', sans-serif;
  margin-left: auto; /* Adiciona espaço à esquerda */
  margin-right: auto; /* Adiciona espaço à direita */
  max-width: 800px; /* Ajuste o valor conforme necessário */
}

.projetos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

.projetos h2 {
  margin: 10px;
  border-top: solid 1px #ffffffb2;
  margin: 0 20px 15px 20px;
}

.card-projetos {
  position: relative;
  flex: 1 1 350px;
  min-width: 200px;
  max-width: 600px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 20px;
  border: solid 2px #131313b7;
  color: #ffff;
}

.card-projetos img {
  width: 100%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-projetos:hover {
  box-shadow: 0 2px 6px #c6f2e5;
}

.card-projetos__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #524646;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: white;
}

.card-projetos:hover .card-projetos__content {
  transform: rotateX(0deg);
}

.card-projetos__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}

.card-projetos:hover img {
  scale: 0;
}

.card-projetos__description {
  margin: 10px 0 0;
  font-size: 12pt;
  font-weight: 600;
  line-height: 1.4;
}

.card-projetos__click {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
